body{
    background: #FFFFE8;
    margin-left: 12%;
    margin-right: 12%;
    font-family: 'Dancing Script', cursive;

    font-family: 'Oswald', sans-serif;}

#About_me{
    width: 500;
    height: 200px;
    background: #CDE990;
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
::-webkit-scrollbar{
    width: 100 px;
}
::-webkit-scrollbar-track{
    background: #fc6767;
    border-radius: 30px;
}
#Myname{
    color: #fc6767;
    position: absolute;
    top: -5%;
    right: 25%;
    font-size: 40px;
    width: 60%;
    margin: 0 auto;
}

#identificacao{
    color: #3e5708;
    width: 50%;
    margin: 0 auto;
    position: absolute;
    top: 22%;
    right: 35%;
}
#foto{
    position: absolute;
    top: 9%;
    right: 12%;
}

#linkedin{
    position: absolute;
    top: 9%;
    right: -14%;
}

#github{
    position: absolute;
    top: 9%;
    right: -6%;
}


#titulo{
    color: #fc6767;
    font-size: 30px;
}
#apresentacao{
    color: #fc6767;
    font-size: 30px;
}

#redesSociais{
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: row;
}
#linkRedesocial{
    color: #8cac48;
    font-size: 15px;
}


#email{
    color: #f78336; 
    text-decoration: none;
}
#lista{
    color: #3e5708; 
    text-decoration: none;
}
#svd{
    color: #3e5708; 
    text-decoration: none;
}
#crud{
    color: #3e5708; 
    text-decoration: none;
}
#figma{
    color: #3e5708; 
    text-decoration: none;
}


#tabelaformacaoAcademica{
    background: #FFD4D4; 
    border-radius: 12px;
    text-align: center;
    border-collapse: collapse;
    width: 60%;
}
#formAcademTitulos{
    background: #CDE990;
}

#tabelaexperiencia{
    background: #FFD4D4; 
    border-radius: 12px;
    text-align: center;
    border-collapse: collapse;
    width: 60%;
}
#experienciaTitulos{
    background: #CDE990;
}
